head
  meta(charset='utf-8')
  title Project Kansas - Editor
  script(type="text/javascript", src="/scripts/shCore.js")
  script(type="text/javascript", src="/scripts/shBrushJScript.js")
  script(type="text/javascript", src="/scripts/kansas.js")
  link(rel='stylesheet', href='/stylesheets/bootswatch.min.css', type='text/css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/shCore.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/shThemeDefault.css')
  style(type='text/css')
    html, body{
      margin: 0;
      padding: 0;
      font-family: arial;
    }
body
  if program.name == ""
    span#codetitle(style="font-family:courier;") My Procedure
    input(type="button", value="Refresh", onclick="window.location.reload()")
    br
    br
    form(action='/kansassave', method='post')
      input.span5(name='name', type='text')
      br
      textarea.span5(id='codedraft', name='code', rows='15') function drawSample(ctx){ }
      br
      input(type='submit', value='Store Procedure')
  else
    div.container
      div.row
        h2 HTML5 Effects
      div.row
        div.span6(style='border-right:1px solid silver;padding-right:12px;')
          ul.nav.nav-tabs
            li#codeTab.active
              a(href='#', onclick='switchToCode()') Code
            li#editTab
              a(href='#', onclick='switchToEdit()') Edit
          div#currentcode
            div Procedure Name: #{program.name}
            div#codestore
              pre(class="brush:jscript") #{program.code}
            script(type="text/javascript") SyntaxHighlighter.all();
            br
            a.btn.btn-info(href='#', onclick='testCanvasCode()') Sketch Now
            br
            br
            a.btn.btn-primary(href='#', onclick='storeProcedure()') Store Procedure

          div#editcode(style='display:none;')
            form(id='codeform', action='/kansassave', method='post')
              input(type='hidden', name='id', value='#{program._id}')
              input.span5(name='name', type='text', value='#{program.name}')
              br
              textarea.span5(id='codedraft', name='code', rows='15') #{program.code}
              br
              a.btn.btn-primary(href='#', onclick='syntaxCheck()') Syntax Check

        div.span5
          ul.nav.nav-tabs
            li#pointTab
              a(href='#', onclick='simulatePoint()') Point
            li#lineTab
              a(href='#', onclick='simulateLine()') Line
            li#polylineTab
              a(href='#', onclick='simulatePolyline()') Lines
            li#polygonTab.active
              a(href='#', onclick='simulatePolygon()') Building
          canvas#parkCanvas(height='300', width='300')