head
  meta(charset='utf-8')
  title POI Mark 2: Viewer
  link(rel="stylesheet", href="/stylesheets/leaflet.css", type="text/css")
  link(rel="stylesheet", href="/stylesheets/bootswatch.min.css", type="text/css")
  script(type="text/javascript", src="/scripts/leaflet.js")
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(type="text/javascript", src="/scripts/myviewer.js")
  script(type="text/javascript")
    var buildings = [ ];
    var buildids = [ ];
    var parks = [ ];
    var parkids = [ ];
    var tileURL = "#{poimap.basemap}";
    var attribution = "#{poimap.attribution}";
    var start_pos = [ #{poimap.center[0]}, #{poimap.center[1]}, #{poimap.zoom} ];

  if poimap.buildings.length > 0
    if poimap.buildings[0].length > 1
      each buildingid in poimap.buildings
        script(type="text/javascript") buildids.push("#{buildingid}");

  if poimap.parks.length > 0
    if poimap.parks[0].length > 1
      each parkid in poimap.parks
        script(type="text/javascript") parkids.push("#{parkid}");

  style(type="text/css")
  style(type='text/css')
    html, body{
      height: 100%;
      width: 100%;
    }
    .container, .container .span12{
      height: 100%;
    }
    #map{
      width: 100%;
      height: 90%;
    }
    .sidebar{
      padding:10px;
      border-right: 1px solid #000;
      position:fixed;
      left:0px;
    }
    #parkCanvas{
      display:none;
    }
    /* supports icon animation */
    .leaflet-marker-icon{
      border: 1px solid transparent;
      border-radius:8px;
    }

body
  div.navbar
    .navbar-inner
      .container
        a.brand(href='/')
          span POI Dough
        form.navbar-search.pull-right
          input.search-query(type='text', placeholder='Find Maps')

  div.container.book
    .span2.sidebar
      Sample Info
      br
      br
      a.btn.btn-primary(href="/editor?id=#{poimap._id}") Edit Map
      br
      br
      a.btn.btn-primary(href="/export_#{poimap._id}.kml")
        img(src='/images/Download-icon.png')
        span Download KML
    .span12
      #map

  canvas#parkCanvas(width="300", height="300")